# Лабораторная работа № 5

In [56]:
import numpy as np
import pandas as pd

df = pd.read_csv('smartphones.csv')

## 2.1 Вывод всей таблицы

In [57]:
df

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"XOLO T1000 (Black, 4 GB)",https://www.flipkart.com/x...,XOLO,14153,14153,0,333,130,MOBDMKDAKQGCYZ6D,3.8,1 GB
1,"GIONEE Pioneer P3 (White, ...",https://www.flipkart.com/g...,GIONEE,6500,6500,0,437,78,MOBDRKHTA3UXHAVD,3.6,512 MB
2,KARBONN Titanium S4 (Black...,https://www.flipkart.com/k...,KARBONN,13298,13298,0,28,7,MOBDRYWHA3ZU9BRT,3.3,1 GB
3,KARBONN Titanium S4 (White...,https://www.flipkart.com/k...,KARBONN,14990,14990,0,28,7,MOBDRYWHFVVQHQVZ,3.3,1 GB
4,"Micromax Bolt A71 (Black, ...",https://www.flipkart.com/m...,Micromax,6499,7499,13,61,8,MOBDSMAJ5UUJUDDE,3.1,512 MB
...,...,...,...,...,...,...,...,...,...,...,...
1508,"Kekai Prime (Sea Blue, 32 GB)",https://www.flipkart.com/k...,Kekai,5499,5499,0,0,0,MOBGYYUWTY8DJUES,0.0,2 GB
1509,"GIONEE S11 (Gold, 64 GB)",https://www.flipkart.com/g...,GIONEE,8990,8990,0,0,0,MOBGYYUX6EBEHJCF,0.0,4 GB
1510,"Kekai Prime (Sea White, 32...",https://www.flipkart.com/k...,Kekai,5499,5499,0,0,0,MOBGYYUXQZBZ4DAY,0.0,2 GB
1511,Telefono S1 (Interstellar ...,https://www.flipkart.com/t...,Telefono,5990,5990,0,0,0,MOBGYZ8ZYCKJFEWV,0.0,3 GB
1512,"Telefono S1 (Space Blue, 3...",https://www.flipkart.com/t...,Telefono,5990,5990,0,0,0,MOBGYZ94RVSAXKSW,0.0,3 GB

## 2.2 Вывод первых пяти строк

In [58]:
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"XOLO T1000 (Black, 4 GB)",https://www.flipkart.com/x...,XOLO,14153,14153,0,333,130,MOBDMKDAKQGCYZ6D,3.8,1 GB
1,"GIONEE Pioneer P3 (White, ...",https://www.flipkart.com/g...,GIONEE,6500,6500,0,437,78,MOBDRKHTA3UXHAVD,3.6,512 MB
2,KARBONN Titanium S4 (Black...,https://www.flipkart.com/k...,KARBONN,13298,13298,0,28,7,MOBDRYWHA3ZU9BRT,3.3,1 GB
3,KARBONN Titanium S4 (White...,https://www.flipkart.com/k...,KARBONN,14990,14990,0,28,7,MOBDRYWHFVVQHQVZ,3.3,1 GB
4,"Micromax Bolt A71 (Black, ...",https://www.flipkart.com/m...,Micromax,6499,7499,13,61,8,MOBDSMAJ5UUJUDDE,3.1,512 MB

## 2.3 Вывод последних пяти строк

In [59]:
df.tail()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
1508,"Kekai Prime (Sea Blue, 32 GB)",https://www.flipkart.com/k...,Kekai,5499,5499,0,0,0,MOBGYYUWTY8DJUES,0.0,2 GB
1509,"GIONEE S11 (Gold, 64 GB)",https://www.flipkart.com/g...,GIONEE,8990,8990,0,0,0,MOBGYYUX6EBEHJCF,0.0,4 GB
1510,"Kekai Prime (Sea White, 32...",https://www.flipkart.com/k...,Kekai,5499,5499,0,0,0,MOBGYYUXQZBZ4DAY,0.0,2 GB
1511,Telefono S1 (Interstellar ...,https://www.flipkart.com/t...,Telefono,5990,5990,0,0,0,MOBGYZ8ZYCKJFEWV,0.0,3 GB
1512,"Telefono S1 (Space Blue, 3...",https://www.flipkart.com/t...,Telefono,5990,5990,0,0,0,MOBGYZ94RVSAXKSW,0.0,3 GB

## 2.4 Получение основной статистической информации функцией describe()

In [60]:
df.describe()

,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating
count,1513.000000,1513.000000,1513.000000,1.513000e+03,1513.000000,1513.000000
mean,17616.582948,19350.060145,6.567746,3.616383e+04,3889.980172,3.865962
std,20373.673405,22981.244617,9.601012,1.221186e+05,15190.369690,1.050301
min,1190.000000,1190.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,7199.000000,7849.000000,0.000000,2.500000e+02,25.000000,3.800000
50%,11499.000000,12990.000000,0.000000,2.858000e+03,287.000000,4.300000
75%,17999.000000,19979.000000,12.000000,1.549000e+04,1397.000000,4.400000
max,149999.000000,189999.000000,62.000000,1.340123e+06,213834.000000,4.800000

## 2.5 Чтение ячейки по индексу строки и имени колонки

In [61]:
df.loc[0,'Product Name']

'XOLO T1000 (Black, 4 GB)'

## 2.5 Чтение ячейки по строке и столбцу

In [62]:
df.iloc[0, 0]

'XOLO T1000 (Black, 4 GB)'

## 2.5 Чтение ячейки через at

In [63]:
df.at[0,'Product Name']

'XOLO T1000 (Black, 4 GB)'

## 2.6 Фильтрация строк по диапазону индекса

In [64]:
df[10:12]

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
10,"LG G Pro 2 (Titan, 16 GB)",https://www.flipkart.com/l...,LG,42021,42021,0,243,74,MOBDVRGDJUYNH4CC,4.5,3 GB
11,"MI3 (Metallic Grey, 16 GB)",https://www.flipkart.com/m...,MI3,13999,13999,0,15184,5132,MOBDXSVH7HHHNK8J,4.4,2 GB

## 2.7 Фильтрация по условию

In [65]:
df[df['Brand'] == 'SAMSUNG'].head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
22,SAMSUNG Galaxy S6 Edge (Bl...,https://www.flipkart.com/s...,SAMSUNG,37299,37299,0,1217,266,MOBE5Z49V4ZHZPRH,4.0,3 GB
31,"SAMSUNG Galaxy J2 (White, ...",https://www.flipkart.com/s...,SAMSUNG,6799,6799,0,20338,2242,MOBEBFQE4WFKV2TF,4.1,1 GB
34,"SAMSUNG Galaxy On7 (Black,...",https://www.flipkart.com/s...,SAMSUNG,9977,9977,0,191378,25467,MOBECCA5SMRSKCNY,4.2,1 GB
46,SAMSUNG Galaxy J7 - 6 (New...,https://www.flipkart.com/s...,SAMSUNG,15299,15585,1,77859,11668,MOBEG4XWG33HXYT7,4.3,2 GB
47,SAMSUNG Galaxy J7 - 6 (New...,https://www.flipkart.com/s...,SAMSUNG,13800,15014,8,77859,11668,MOBEG4XWMBDGZVEX,4.3,2 GB

## 2.8 Подсчёт пустых значений

In [66]:
df.isnull().sum()

Product Name         0
Product URL          0
Brand                0
Sale Price           0
Mrp                  0
                    ..
Number Of Ratings    0
Number Of Reviews    0
Upc                  0
Star Rating          0
Ram                  0
Length: 11, dtype: int64

## Удаление строк с пропущенными значениями

In [67]:
df.dropna().head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"XOLO T1000 (Black, 4 GB)",https://www.flipkart.com/x...,XOLO,14153,14153,0,333,130,MOBDMKDAKQGCYZ6D,3.8,1 GB
1,"GIONEE Pioneer P3 (White, ...",https://www.flipkart.com/g...,GIONEE,6500,6500,0,437,78,MOBDRKHTA3UXHAVD,3.6,512 MB
2,KARBONN Titanium S4 (Black...,https://www.flipkart.com/k...,KARBONN,13298,13298,0,28,7,MOBDRYWHA3ZU9BRT,3.3,1 GB
3,KARBONN Titanium S4 (White...,https://www.flipkart.com/k...,KARBONN,14990,14990,0,28,7,MOBDRYWHFVVQHQVZ,3.3,1 GB
4,"Micromax Bolt A71 (Black, ...",https://www.flipkart.com/m...,Micromax,6499,7499,13,61,8,MOBDSMAJ5UUJUDDE,3.1,512 MB

## Заполнение пропущенных значений средним значением

In [68]:
mean_value = df['Sale Price'].mean()
df['Sale Price'].fillna(value=mean_value, inplace=True)

## Добавление NaN-значений к какой-то выбранной ячейке

In [69]:
df.at[0,'Product Name'] = np.nan

In [70]:
df.isnull().sum()

Product Name         1
Product URL          0
Brand                0
Sale Price           0
Mrp                  0
                    ..
Number Of Ratings    0
Number Of Reviews    0
Upc                  0
Star Rating          0
Ram                  0
Length: 11, dtype: int64

In [71]:
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,NaN,https://www.flipkart.com/x...,XOLO,14153,14153,0,333,130,MOBDMKDAKQGCYZ6D,3.8,1 GB
1,"GIONEE Pioneer P3 (White, ...",https://www.flipkart.com/g...,GIONEE,6500,6500,0,437,78,MOBDRKHTA3UXHAVD,3.6,512 MB
2,KARBONN Titanium S4 (Black...,https://www.flipkart.com/k...,KARBONN,13298,13298,0,28,7,MOBDRYWHA3ZU9BRT,3.3,1 GB
3,KARBONN Titanium S4 (White...,https://www.flipkart.com/k...,KARBONN,14990,14990,0,28,7,MOBDRYWHFVVQHQVZ,3.3,1 GB
4,"Micromax Bolt A71 (Black, ...",https://www.flipkart.com/m...,Micromax,6499,7499,13,61,8,MOBDSMAJ5UUJUDDE,3.1,512 MB

In [72]:
df.dropna().head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
1,"GIONEE Pioneer P3 (White, ...",https://www.flipkart.com/g...,GIONEE,6500,6500,0,437,78,MOBDRKHTA3UXHAVD,3.6,512 MB
2,KARBONN Titanium S4 (Black...,https://www.flipkart.com/k...,KARBONN,13298,13298,0,28,7,MOBDRYWHA3ZU9BRT,3.3,1 GB
3,KARBONN Titanium S4 (White...,https://www.flipkart.com/k...,KARBONN,14990,14990,0,28,7,MOBDRYWHFVVQHQVZ,3.3,1 GB
4,"Micromax Bolt A71 (Black, ...",https://www.flipkart.com/m...,Micromax,6499,7499,13,61,8,MOBDSMAJ5UUJUDDE,3.1,512 MB
5,"Lenovo S930 (Silver, 8 GB)",https://www.flipkart.com/l...,Lenovo,13604,13604,0,104,35,MOBDSN9HMAYFGMVY,4.3,1 GB

## 2.9.1 Создание нового поля через выражение на базе имеющихся колонок

In [73]:
df['Discounted Price'] = df['Mrp'] - df['Sale Price']
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,Discounted Price
0,NaN,https://www.flipkart.com/x...,XOLO,14153,14153,0,333,130,MOBDMKDAKQGCYZ6D,3.8,1 GB,0
1,"GIONEE Pioneer P3 (White, ...",https://www.flipkart.com/g...,GIONEE,6500,6500,0,437,78,MOBDRKHTA3UXHAVD,3.6,512 MB,0
2,KARBONN Titanium S4 (Black...,https://www.flipkart.com/k...,KARBONN,13298,13298,0,28,7,MOBDRYWHA3ZU9BRT,3.3,1 GB,0
3,KARBONN Titanium S4 (White...,https://www.flipkart.com/k...,KARBONN,14990,14990,0,28,7,MOBDRYWHFVVQHQVZ,3.3,1 GB,0
4,"Micromax Bolt A71 (Black, ...",https://www.flipkart.com/m...,Micromax,6499,7499,13,61,8,MOBDSMAJ5UUJUDDE,3.1,512 MB,1000

## 2.9.2 Создание новых полей через DataFrame.apply

In [74]:
def calculate_discounted_price(row):
    return row['Mrp'] - row['Sale Price']


df['Discounted Price'] = df.apply(calculate_discounted_price, axis=1)
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,Discounted Price
0,NaN,https://www.flipkart.com/x...,XOLO,14153,14153,0,333,130,MOBDMKDAKQGCYZ6D,3.8,1 GB,0
1,"GIONEE Pioneer P3 (White, ...",https://www.flipkart.com/g...,GIONEE,6500,6500,0,437,78,MOBDRKHTA3UXHAVD,3.6,512 MB,0
2,KARBONN Titanium S4 (Black...,https://www.flipkart.com/k...,KARBONN,13298,13298,0,28,7,MOBDRYWHA3ZU9BRT,3.3,1 GB,0
3,KARBONN Titanium S4 (White...,https://www.flipkart.com/k...,KARBONN,14990,14990,0,28,7,MOBDRYWHFVVQHQVZ,3.3,1 GB,0
4,"Micromax Bolt A71 (Black, ...",https://www.flipkart.com/m...,Micromax,6499,7499,13,61,8,MOBDSMAJ5UUJUDDE,3.1,512 MB,1000

## 2.9.3 Создание новых полей через Series.apply

In [75]:
df['Discounted Price'] = df['Mrp'].apply(lambda x: x - 1000)
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,Discounted Price
0,NaN,https://www.flipkart.com/x...,XOLO,14153,14153,0,333,130,MOBDMKDAKQGCYZ6D,3.8,1 GB,13153
1,"GIONEE Pioneer P3 (White, ...",https://www.flipkart.com/g...,GIONEE,6500,6500,0,437,78,MOBDRKHTA3UXHAVD,3.6,512 MB,5500
2,KARBONN Titanium S4 (Black...,https://www.flipkart.com/k...,KARBONN,13298,13298,0,28,7,MOBDRYWHA3ZU9BRT,3.3,1 GB,12298
3,KARBONN Titanium S4 (White...,https://www.flipkart.com/k...,KARBONN,14990,14990,0,28,7,MOBDRYWHFVVQHQVZ,3.3,1 GB,13990
4,"Micromax Bolt A71 (Black, ...",https://www.flipkart.com/m...,Micromax,6499,7499,13,61,8,MOBDSMAJ5UUJUDDE,3.1,512 MB,6499

## 2.10 Сортировка по Sale Price

In [76]:
df.sort_values('Sale Price', ascending=False, inplace=True)
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,Discounted Price
1210,SAMSUNG Galaxy Fold 2 (Mys...,https://www.flipkart.com/s...,SAMSUNG,149999,189999,21,3,0,MOBFYZ67JNPRDY3T,3.7,12 GB,188999
1209,SAMSUNG Galaxy Fold 2 (Mys...,https://www.flipkart.com/s...,SAMSUNG,149999,189999,21,3,0,MOBFYZ673HRWNNCD,3.7,12 GB,188999
1083,APPLE iPhone 12 Pro (Pacif...,https://www.flipkart.com/a...,Apple,140900,149900,6,545,42,MOBFWBYZTHSXKMGW,4.5,4 GB,148900
1066,APPLE iPhone 12 Pro (Silve...,https://www.flipkart.com/a...,Apple,140900,149900,6,542,42,MOBFWBYZ5UY6ZBVA,4.5,4 GB,148900
626,APPLE iPhone 11 Pro Max (G...,https://www.flipkart.com/a...,Apple,131900,131900,0,1078,101,MOBFKCTS7HCHSPFH,4.7,4 GB,130900

## 2.11.1 Среднее значение для каждой колонки

In [77]:
df[['Sale Price', 'Mrp', 'Discount Percentage', 'Number Of Ratings', 'Number Of Reviews', 'Star Rating']].mean()

Sale Price             17616.582948
Mrp                    19350.060145
Discount Percentage        6.567746
Number Of Ratings      36163.827495
Number Of Reviews       3889.980172
Star Rating                3.865962
dtype: float64

## 2.11.2 Максимальное значение в каждой колонке

In [78]:
df[['Sale Price', 'Mrp', 'Discount Percentage', 'Number Of Ratings', 'Number Of Reviews', 'Star Rating']].max()

Sale Price              149999.0
Mrp                     189999.0
Discount Percentage         62.0
Number Of Ratings      1340123.0
Number Of Reviews       213834.0
Star Rating                  4.8
dtype: float64

## 2.11.3 Сумма значений в каждой колонке

In [79]:
df[['Sale Price', 'Mrp', 'Discount Percentage', 'Number Of Ratings', 'Number Of Reviews', 'Star Rating']].sum()

Sale Price             26653890.0
Mrp                    29276641.0
Discount Percentage        9937.0
Number Of Ratings      54715871.0
Number Of Reviews       5885540.0
Star Rating                5849.2
dtype: float64

## 2.12 Подсчет уникальных значений в колонке

In [80]:
df['Brand'].value_counts()

Brand
SAMSUNG    243
Redmi      159
OPPO       124
ViVO       118
realme      89
          ...
YUHO         1
Forme        1
LYF          1
MI3          1
HPL          1
Name: count, Length: 67, dtype: int64

## 2.13 Вывод уникальных значений в колонке

In [81]:
df['Ram'].unique()

array(['12 GB', '4 GB', '6 GB', '8 GB', '2 GB', '3 GB', '1.5 GB', '1 GB',
       '512 MB', '256 MB'], dtype=object)

## 2.14 Удаление текущего индекса и создание нового на базе новой колонки

In [82]:
df = df.reset_index(drop=True)
df.set_index('Upc', inplace=True)
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating,Ram,Discounted Price
Upc,,,,,,,,,,,
MOBFYZ67JNPRDY3T,SAMSUNG Galaxy Fold 2 (Mys...,https://www.flipkart.com/s...,SAMSUNG,149999,189999,21,3,0,3.7,12 GB,188999
MOBFYZ673HRWNNCD,SAMSUNG Galaxy Fold 2 (Mys...,https://www.flipkart.com/s...,SAMSUNG,149999,189999,21,3,0,3.7,12 GB,188999
MOBFWBYZTHSXKMGW,APPLE iPhone 12 Pro (Pacif...,https://www.flipkart.com/a...,Apple,140900,149900,6,545,42,4.5,4 GB,148900
MOBFWBYZ5UY6ZBVA,APPLE iPhone 12 Pro (Silve...,https://www.flipkart.com/a...,Apple,140900,149900,6,542,42,4.5,4 GB,148900
MOBFKCTS7HCHSPFH,APPLE iPhone 11 Pro Max (G...,https://www.flipkart.com/a...,Apple,131900,131900,0,1078,101,4.7,4 GB,130900